@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #333;
}
ul,
li {
  list-style: none;
}
body{
  height: 2000px;
}
/* nav */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(228, 255, 178);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding: 20px;
  z-index: 99;
}
nav.scrolled{
  background-color: rgb(146, 255, 84);
}
nav > a:hover {
  text-decoration: underline;
}
.navIcon {
  display: flex;
  align-items: center;
  gap: 20px;
}
#menu {
  width: 20px;
  height: 20px;
  position: relative;
}
#menu::after {
  /* html a 에 영역이 없어서 모양을 주고 싶으면 감싸는 영역을 잡든지 a 아래에 span이라도 넣든지 해야함*/
  /* 그게 싫어서 가상 영역을 잡은 거임 */
  content: "";
  display: block;
  position: absolute;
  top: -6px;
  left: -7px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.3s;
  background-color: rgba(0, 0, 0, 0.2);
}
#menu:hover::after {
  opacity: 1;
}
#menu::before {
  content: attr(aria-label);
  /* attr 속성 찾는 method */
  /* 일일이 하나하나 값을 줄 수 없으니까 */
  /* 속성 값에는 같은 class 나 id 를 줄 수 없으니까 */
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  font-size: 11px;
  opacity: 0;
  white-space: nowrap;
  /* 글자 줄바꿈 방지, 다음 줄로 못 내려가게 */
  transition: all 0.3s;
}
#menu:hover::before {
  opacity: 1;
}
#menu svg {
  position: relative;
  width: 100%;
  /* 이미지 자체는 100% 해놓고 크기 변경은 위에 영역으로만 하자 */
  opacity: 0.5;
  /* 색 바꾸고 싶으면 피그마에서 변경해서 갖고 오기 */
}
/* 로그인 */
#login {
  width: 70px;
  height: 30px;
  color: white;
  background-color: #4484f3;
  border: 0;
  border-radius: 3px;
}
.main-wrap {
  margin-top: 200px;
  text-align: center;
}
/* 검색바 */
.search_bar {
  width: 70%;
  max-width: 600px;
  min-width: 330px;
  margin: 30px auto;
  background-color: rgb(255, 255, 255);
  /* ↑검색 바의 전체 사이즈 될 거임 */
  border: 1px solid #ccc;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
}
.search_bar input {
  width: 60%;
  padding: 5px;
  border: 0;
  /* 호버랑 상관없이 기존에 걍 있는 박스 테두리 */
  outline: none;
  /* input hover 했을 때 생기는 박스 테두리 */
  /* 원래 장애인들을 위해서 필요한거지만 디자인을 위해 없앰 */
}
.search-icon {
  width: 10%;
  min-width: 48px;
  display: flex;
  gap: 10px;
  /* 1. 아이콘 전체에 너비 값을 준다 */
}
.search-icon a{
    width: calc(100% / 2);
    /* 2. a 를 똑같이 2개로 나눈다 */
}
.search-icon img{
    width: 100%;
    /* 3. 이미지를 a 사이즈에 따라가게 한다. */
}

/* 검색버튼 */
.plus{
  width: 50%;
  max-width: 550px;
  min-width: 200px;
  margin: auto;
  /* background-color: antiquewhite; */
}
.plus ul{
  display: flex;
  flex-wrap: wrap;
  /* 크기 안에 끼워넣지 말고 튕겨나가게 만드는 코드 */
}
.plus ul li{
  position: relative;
  width: calc(100% / 5);
  max-width: 110px;
}
.plus ul li a{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.plus ul li a img{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}
.bg{
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
}
.plus ul li:hover .hover_bg{
  opacity: 1;
}
.plus ul li:hover .hover_bg img{
  opacity: 1;
  transition: all 1s ease-in-out;
  transition-delay: 0.1s;
}

/* 호버했을 때 이미지 */
.hover_bg{
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  width: 100%;
  height: 104px;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.hover_bg img{
  position: absolute;
  top: 10px;
  right: 0;
opacity: 0;
}
.plus ul li a span{
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 70px;
}

/* 버튼 */
.btn{
  display: flex;
  justify-content: center;
  margin: 50px auto;
  gap: 10px;
  width: 50%;
}
.btn button{
  border: 0;
  height: 30px;
  padding: 0 15px;
  background-color: #f4f4f4f4;
  border: 1px solid #f4f4f4f4;
  color: #666;
  border-radius: 3px;
  cursor: pointer;
}
.btn button:hover{
  border: 1px solid #ccc;
  color: #333;
  background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

/* 반응형 */
@media screen and (max-width:820px) {
  .plus ul li{
    width: calc(100% / 4);
  }
}
@media screen and (max-width:760px) {
  .plus ul li{
    width: calc(100% / 3);
  }
}
@media screen and (max-width:530px) {
  .plus ul li{
    width: calc(100% / 2);
  }
  .btn{
    width: 30%;
    flex-direction: column;
  }
  .btn button{
    width: 150px;
  }
}
@media screen and (max-width:390px) {
    .search_bar{
        padding: 5px 15px;
    }
    .main-wrap > img{
      width: 200px;
    }
}